<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../static/css/swiper-bundle.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" class="js-color-style" href="assets/css/colors/color-1.css">
</head>
<body>
    <!-- Header -->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="index.html" class="nav__logo">
                <i class=""></i> LOGO
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="home.html" class="nav__link active-link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="shop.html" class="nav__link">Shop</a>
                    </li>
                    <li class="nav__item">
                        <a href="about.html" class="nav__link">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="blog.html" class="nav__link">Blog</a>
                    </li>
                    <li class="nav__item">
                        <a href="faq.html" class="nav__link">Faq's</a>
                    </li>
                    <li class="nav__item">
                        <a href="contact.html" class="nav__link">Contact</a>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="bx bx-x"></i>
                </div>
            </div>

            <div class="nav__btns">
                <div class="login__toggle" id="login-button">
                    <i class="bx bx-user"></i>
                </div>
                <div class="nav__shop" id="cart-shop">
                    <i class="bx bx-shopping-bag"></i>
                </div>
                <div class="nav__toggle" id="nav-toggle">
                    <i class="bx bx-grid-alt"></i>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="main">
        <!-- Banner Section -->
        <section class="home container">
            <!-- Swiper Slider -->
            <div class="swiper home-swiper">
                <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <section class="swiper-slide">
                        <div class="home__content grid">
                            <div class="home__group">
                                <!-- Spline Viewer Script -->
                                <script type="module" src="https://unpkg.com/@splinetool/viewer@1.6.0/build/spline-viewer.js"></script>
                                <spline-viewer url="https://prod.spline.design/HdZtTmGrOO21436F/scene.splinecode"></spline-viewer>
                                <div class="home__indicator"></div>

                                <!-- Image and Details -->
                                <div class="home__details-img">
                                    <h4 class="home__details-title">local</h4>
                                    <span class="home__details-subtitle">Lorem ipsum </span>
                                </div>
                            </div>

                            <!-- Text Content -->
                            <div class="home__data">
                                <h3 class="home__subtitle">#1 TRENDING ITEM</h3>
                                <h1 class="home__title">ORIGINAL <br> IS NEVER <br> FINISHED!!</h1>
                                <p class="home__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

                                <!-- Buttons -->
                                <div class="home__buttons">
                                    <a href="details.html" class="button">Buy Now</a>
                                    <a href="details.html" class="button--link button--flex">View Details <i class="bx bx-right-arrow-alt button__icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Slide 2 -->
                    <section class="swiper-slide">
                        <div class="home__content grid">
                            <div class="home__group">
                                <script type="module" src="https://unpkg.com/@splinetool/viewer@1.6.0/build/spline-viewer.js"></script>
                                <spline-viewer url="https://prod.spline.design/HdZtTmGrOO21436F/scene.splinecode"></spline-viewer>
                                <div class="home__indicator"></div>

                                <div class="home__details-img">
                                    <h4 class="home__details-title">Lorem ipsum</h4>
                                    <span class="home__details-subtitle">Lorem ipsum</span>
                                </div>
                            </div>

                            <div class="home__data">
                                <h3 class="home__subtitle">#2 TRENDING ITEM</h3>
                                <h1 class="home__title">FALL <br> WINTER <br> 2024</h1>
                                <p class="home__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

                                <div class="home__buttons">
                                    <a href="details.html" class="button">Buy Now</a>
                                    <a href="details.html" class="button--link button--flex">View Details <i class="bx bx-right-arrow-alt button__icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Slide 3 -->
                    <section class="swiper-slide">
                        <div class="home__content grid">
                            <div class="home__group">
                                <script type="module" src="https://unpkg.com/@splinetool/viewer@1.6.0/build/spline-viewer.js"></script>
                                <spline-viewer url="https://prod.spline.design/HdZtTmGrOO21436F/scene.splinecode"></spline-viewer>
                                <div class="home__indicator"></div>

                                <div class="home__details-img">
                                    <h4 class="home__details-title">Jurry</h4>
                                    <span class="home__details-subtitle">Zipper</span>
                                </div>
                            </div>

                            <div class="home__data">
                                <h3 class="home__subtitle">#3 TRENDING ITEM</h3>
                                <h1 class="home__title">SALE 20% <br> OFF ON  <br> EVERYTHING</h1>
                                <p class="home__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

                                <div class="home__buttons">
                                    <a href="details.html" class="button">Buy Now</a>
                                    <a href="details.html" class="button--link button--flex">View Details <i class="bx bx-right-arrow-alt button__icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
                <!-- Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </section>

        <!-- Newsletter Section -->
        <section class="newsletter section">
            <div class="newsletter__container container">
                <h2 class="section__title">Our Newsletter</h2>
                <p class="newsletter__description">
                    Promotion new products and sales. Directly to your inbox
                </p>

                <form action="" class="newsletter__form">
                    <input type="text" placeholder="Enter your email" class="newsletter__input">
                    <button class="button">Subscribe</button>
                </form>
            </div>
        </section>

        <!-- Footer Section -->
        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">
                        <i class=""></i> 
                    </a>

                    <p class="footer__description">Enjoy the biggest sale <br> of your life.</p>

                    <div class="footer__social">
                        <a href="#" class="footer__social-link"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="footer__social-link"><i class="bx bxl-instagram-alt"></i></a>
                        <a href="#" class="footer__social-link"><i class="bx bxl-twitter"></i></a>
                    </div>
                </div>
                
                <div class="footer__content">
                    <h3 class="footer__title">About</h3>

                    <ul class="footer__links">
                        <li><a href="#" class="footer__link">About Us</a></li>
                        <li><a href="#" class="footer__link">Customer Support</a></li>
                        <li><a href
